# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
ukta
.cproject
.project
.settings
cb.bmp
ukta.cbp
ukta.layout
example.cpp

ukta.depend
